[Unit]
Description=Generic Modbus to MQTT reader
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 -m modbus_reader -c /etc/modbus_reader/
Environment="PYTHONUNBUFFERED=1"

Restart=on-failure
RestartSec=5

StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
